@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}

.icon-highvolume:before { content: "\e600"; }
.icon-mediumvolume:before { content: "\e60d"; }
.icon-triangle-down:before { content: "\e601"; }
.icon-youhuiquan:before { content: "\e62e"; }
.icon-zhanghu:before { content: "\e624"; }
.icon-xingxing:before { content: "\e62b"; }
.icon-icon04:before { content: "\e603"; }
.icon-cuo:before { content: "\e62d"; }
.icon-dui:before { content: "\e62f"; }
.icon-4:before { content: "\e632"; }
.icon-jianhao:before { content: "\e60e"; }
.icon-jiahao:before { content: "\e60f"; }
.icon-huiyuanqia:before { content: "\e62c"; }
.icon-huiyuanqia1:before { content: "\e625"; }
.icon-qiandai:before { content: "\e633"; }
.icon-wuxing1:before { content: "\e610"; }
.icon-weixin:before { content: "\e634"; }
.icon-wodexiaodian:before { content: "\e630"; }
.icon-gengduo:before { content: "\e604"; }
.icon-shiyongqingkuang:before { content: "\e626"; }
.icon-shouye:before { content: "\e605"; }
.icon-nsiconmy:before { content: "\e627"; }
.icon-calendar:before { content: "\e631"; }
.icon-woline:before { content: "\e608"; }
.icon-icon6666666:before { content: "\e628"; }
.icon-chenggongduihao:before { content: "\e611"; }
.icon-dizhi:before { content: "\e629"; }
.icon-leftarr66:before { content: "\e606"; }
.icon-sandian66:before { content: "\e607"; }
.icon-h2icon:before { content: "\e602"; }
.icon-footer1:before { content: "\e609"; }
.icon-footer2:before { content: "\e60a"; }
.icon-footer3:before { content: "\e60b"; }
.icon-footer4:before { content: "\e60c"; }
.icon-icon01:before { content: "\e612"; }
.icon-icon02:before { content: "\e613"; }
.icon-icon03:before { content: "\e614"; }
.icon-icon041:before { content: "\e615"; }
.icon-icon05:before { content: "\e616"; }
.icon-icon06:before { content: "\e617"; }
.icon-icon07:before { content: "\e618"; }
.icon-icon08:before { content: "\e619"; }
.icon-icon09:before { content: "\e61a"; }
.icon-icon10:before { content: "\e61b"; }
.icon-icon11:before { content: "\e61c"; }
.icon-icon12:before { content: "\e61d"; }
.icon-icon13:before { content: "\e61e"; }
.icon-icon14:before { content: "\e61f"; }
.icon-icon15:before { content: "\e620"; }
.icon-icon16:before { content: "\e621"; }
.icon-icon17:before { content: "\e622"; }
.icon-888:before { content: "\e623"; }
.icon-icond:before { content: "\e62a"; }


